<!DOCTYPE html>
<html>
	<head>
		<title>Addmin home</title>
	</head>
	<body>
		<h>ADMIN HOME</h>
		<form action="newsong">
			<input type="submit" value="ADD SONGS">
		</form>
		<br><br>
		<form action="viewsongs">
			<input type="submit" value="VIEW SONGS">
			
		</form>
		<br><br>
		<form action="createplaylists">
			<input type="submit" value="CREATE PLAYLIST">
			
		</form>
		</form>
		<br><br>
		<form action="viewplaylists">
			<input type="submit" value="VIEW PLAYLIST">
			
		</form>
	</body>
</html>
